/*
@font-face {
  font-family: "ichigojam";
  font-style: normal;
  font-weight: 400;
  src: local('IchigoJam-1.4'), local('IchigoJam-1.4-Regular'),
    url("https://cdn.jsdelivr.net/gh/fu-sen/ichigojam-font@20190814/IchigoJam-1.4.woff") format('woff');
}
@font-face {
  font-family: "ichigojam-g";
  font-style: normal;
  font-weight: 400;
  src: local('IchigoJam-GRAPH')
    url("https://fukuno.jig.jp/font/IchigoJam-GRAPH.woff") format('woff');
}
*/
@font-face {
  font-family: "ichigojam-font";
  font-style: normal;
  src: url("./IchigoJam-FONT.woff") format('woff');
}
